<div class="header">
<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
   <%= image_tag("palmers.jpg", height:'90', width: '120',)  %>
     </a>
      
    </div>
    <div class="nav-content ">
      <span class="nav-title">PALMERS URENT CARE</span>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-large">HOME</a></li>
        <li><a class="waves-effect waves-light btn-large">SERVICES</a></li>
        <li><a class="waves-effect waves-light btn-large">TEAM</a></li>
         <li><a class="waves-effect waves-light btn-large">PATIENTS</a></li>
         <li><a class="waves-effect waves-light btn-large">CHECK WITH US</a></li>
      </ul>

      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
        <i class="material-icons">CALL</i>
      </a>
    </div>
  </nav>
        

<div class="container">
<div class="row">

  <div class="col s12">
   <div class="card-panel gray ">
    <h3>Palmers Urgent Care</h3>
    <br>
    <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-large">HOME</a></li>
        <li><a class="waves-effect waves-light btn-large">SERVICES</a></li>
        <li><a class="waves-effect waves-light btn-large">TEAM</a></li>
         <li><a class="waves-effect waves-light btn-large">PATIENTS</a></li>
         <li><a class="waves-effect waves-light btn-large">CHECK WITH US</a></li>
      </ul>
    </div>
    <div class="col s5">
    <p>bibendum condimentum nibh ut rhoncus. Integer sed purus congue, facilisis arcu nec, luctus ligula. Ut vehicula est at diam sollicitudin bibendum. Ut ut ipsum a mauris dictum condimentum dictum sit amet tellus. Donec blandit ex ut efficitur semper. Morbi vitae urna venenatis, sagittis justo vitae, mollis nisl. Nunc a bibendum velit. Integer vel ex felis.</p>
    <hr>
    <h4>NO APPOINTMENT NEEDED</h4>
    <p>bibendum condimentum nibh ut rhoncus. Integer sed purus congue, facilisis arcu nec, luctus ligula. Ut vehicula est at diam sollicitudin bibendum. Ut ut ipsum a mauris dictum condimentum dictum sit amet tellus. Donec blandit ex ut efficitur semper. Morbi vitae urna venenatis, sagittis justo vitae, mollis nisl. Nunc a bibendum velit. Integer vel ex felis.</p>
    <hr>
  <h4>INSURANCE OR NOT WE GOT YOU.</h4>
      Vivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur l
      <div class="carousel carousel-slider center" data-indicators="true">

       <%= image_tag("her.jpg")  %>

     </div>
   </div>


   <div class="col s6">
   <%= image_tag("fornt.jpg", height:'400', width: '400',)  %>
     
   </div>
 </div>
 <div class="row">
  <div class="col s12">

    <div class="col s5 top">
     <div class="card-panel gray">
        <p id="par">
        <h4>Treatment & Services</h4>
         <a href="##"> Sprains / Strains
              Minor Fractures
          Acute Pain
              Dislocations<br></a>
            Cuts / Lacerations<br>
          Wounds / Burns<br><a href="##">
Respiratory Conditions
Colds, Flu, Fevers
Ear Infections
Urinary Tract Infections<br></a>
Allergic Reactions<a href="##">
Dehydration</a>
Diabetic Issues<br>
Sore / Strep Throat<a href="##">
Sinus Infection</a>
<br>
<a href="##">
Bronchitis/Pneumonia
Services

Digital X-Rays</a>
<br>
<a href="##">
Sutures / Stitches
EKG</a>
Physical Therapy<br>
Ultrasound
Lab Testing<br>
Minor Surgical Procedures<br>
Medical Evaluations
Physicals
Immunizations / Vaccines
Breathing Treatment
IV Fluids
Ear Lavage
Drug Screening

          </p>
        </div>
        <div class="carousel carousel-slider center" data-indicators="true">
          <span id="loc">
           <%= image_tag("her.jpg")  %>
         </span>

       </div>
     </div>

     <div class="col s6">
      <div class="card-panel teal">
      <h4>ABOUT</h4>
      <p id="par">
          Vivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur l
          Vivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur l
           Vivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur l Vivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur lVivamus faucibus, felis sit amet tincidunt pulvinar, risus mi consectetur l
          </p>
    
          </div>
          </div>
   </div>
 
    <h5 style="color:red">Location </h5>
<a href="">
    <%= image_tag("location.jpg", height:'200', width: '400',)  %>
    </a>

</div>

